<h1>Edit</h1>
<h1>New Page</h1>
<%= form_for @department do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
  <%= link_to "Create Item", new_department_item_path(@department)%> 