<h1>Item Content</h1>

<h2>  </h2>


<% @department.items.each do |i| %>
<h3><%= i.name %></h3>

<%= link_to "View item details", department_item_path(@department, i) %>
<%= link_to "Edit item", edit_department_item_path(@department, i) %>
<%= link_to "Delete item", department_item_path(@department, i), method: :delete %>



<%end%>


<%= link_to "Create Item", new_department_item_path(@department)%> 